body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

.text {
  color: white;
  font-size: 62px;
}

.typing-text {
  border-right: 1px solid white;
}

.typing-text::before {
  content: "\00A0";
}